.Nav {
    height: 60px;
  }
  .Nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0;
  }
  .Nav li {
    list-style-type: none;
  }
  @media (min-width: 600px) {
    .Nav ul {
      flex-direction: row;
      margin: 0 12px;
    }
  }