.content {
  position: fixed;
  top: 20%;
  left: 40%;
  z-index: 1;
  width: 40%;
  background-color: white;
  padding: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: transform .3s ease-out;
  font-family: 'Julius Sans One', sans-serif;
}

@media (max-width: 800px) {
  .content {
    width: 80%;
    left: 10%;
  }
}