.Toolbar {
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    left: 0;
    /* z-index: 4; */
  
    font-size: 2rem;
    color: gold;
    background-color: rebeccapurple;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
  }

  
