.Toolbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;

    font-size: 2rem ;
    background-color: tomato;
    color: white; 
}
@media (max-width:549px){
    .Toolbar nav {
        display: none;
    }
}