.Toolbar {
  background-color: #f6d2d9;

  display: flex;
  justify-content: space-between;
}
.Toolbar nav {
  display: none;
}
@media (min-width: 600px) {
  .Toolbar {
    min-width: 200px;
  }
  .Toolbar nav {
    display: block;
  }
}