.DriedFruitsPreviews {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.ingredients {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 100%;
 background-image: url(../../../images/plate.svg);

  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  background-color: tomato;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
/* }
@media (max-width: 609px) {
  .ingredients {
    margin-top:-150px ;
  }
} */