.DriedFruitsPreviews {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.fruits {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  background-size: 100%;
  
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../../../images/plate2.svg); 
}
.ingredients {
  width: 580px;
  height: 480px;
  border-radius: 100%;
  position: relative;
}

.price {
  font-size: 2rem;
 
  margin-top: 5px;
  display: flex;
  justify-content: center;
 
  border-radius: 1rem;
  padding: 0 1rem;
  color: black;

}
/* }
@media (max-width: 609px) {
  .ingredients {
    margin-top:-150px ;
  }
} */