@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
  .Logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
    height: 60px;
  }
  .Logo img {
    height: 80px;
    margin-right: 15px;
    margin-left: 8px;


  }
  div{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
    font-weight: unset;
  }