.Drawer .content {
    width: 250px;
    height: 100%;
    background-color: #f6d2d9;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: 0 0 .5px rgba(0,0,0,.5);
    transition: transform .3s ease-out;
}
.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-300px);
}

@media (min-width: 600px) {
  .Drawer  {
    display: none;
  }
}
  
