/* .Checkout {
    width: 470px;
    margin: 0  auto;
  }
  */


.Checkout{
  width: 504px;
  margin: 0 auto;
}


@media (max-width: 500px) {
  .Checkout {
    width: 488px;
    margin-left: -50px;
   
  }
}