.NavItem a {
  border: none;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  display: block;
  padding: 11px;
  color: black; 
  line-height: 1.1;
  font-family: 'Satisfy', cursive;
  /* font-family: 'Julius Sans One', sans-serif; */
  font-size: 20px;
  transition: all .2s ease-in-out;
}

.NavItem a:hover {
  border-color: plum;
  background-color: rgba(61,60,60,.1);; 
 }
.NavItem a:active,
.NavItem a.active {
  border-color: plum;
}

@media (max-width: 550px) {
  .NavItem a {
    border: none;
    border-left: 8px solid transparent;
    background-color: rgba(61,60,60,.1);
}
}
