.NavItem a {
    display: block;
    padding: 1rem;
    line-height: 1.6;
  
    font-family: "Julius Sans One", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    border-right: 8px solid transparent;
  
    transition: all 0.2s ease-in-out;
  }
  
  .NavItem a:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .NavItem .active {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  @media (min-width: 600px) {
    .NavItem a {
      border: none;
      border-bottom: 5px solid transparent;
    }
  }