.DriedFruitsControls {
  flex: 0 0 250px;
  border-radius: 2rem;
  padding: 1rem;
  background-color: bisque;
  color: hotpink;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: initial;
  
}